python3
kivy==2.1.0
kivymd==1.0.2
libbz2
PIL
sdl
plyer==2.1.0
pyjnius
service_identity
pyparsing
appdirs
cffi
six
pycryptodome
attrs
hyperlink
idna
cryptography
automat
android
toml
incremental
twisted
androidstorage4kivy
